<button class="btn btn-success btn-sm" (click)="incrementCount()">Increment Count</button>
<span class="badge badge-light">{{counter}}</span>
<button class="btn btn-danger btn-sm" (click)="decrementCount()">Decrement Count</button>



<br />

<button class="btn btn-danger" (click)="getAllJokes()">getAllJokes</button>

<table *ngIf="jokes" class="table">
  <thead>
    <tr>
      <th scope="row">id</th>
      <td>type</td>
      <td>setup</td>
      <td>punchline</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let joke of jokes">
      <th scope="row">{{joke.id}}</th>
      <td>{{joke.type}}</td>
      <td>{{joke.setup}}</td>
      <td>{{joke.punchline}}</td>
    </tr>

  </tbody>
</table>
